<form id="authForm" action="/auth" method="post">
    <h1 class="admin-header" style="margin: 0;">Access Key</h1>
    <label for="accessKey"></label>
    <input id="accessKey" type="text" name="accessKey" placeholder="Enter your access key" required>
    <button type="submit">Use Key</button>
</form>