.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 75px;
	height: 100%;
	background-color: #4a535e;
	left: 0;
	top: 0;
	box-shadow: 0 0 8px #4a535e;
	font-family: "Trebuchet MS", sans-serif;
	z-index: 10;
}

.nav-top {
	margin-top: 20px;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
}

.nav-bot {
	margin-bottom: 20px;
	margin-top: auto;
	display: flex;
	flex-direction: column;
}

.nav-elem {
	width: 100%;
	padding: 15px 0;
}

.nav-elem-svg {
	fill: lightgray;
	width: 50%;
}

.nav-elem:hover .nav-elem-svg {
	fill: white;
}

.nav-elem-text {
	position: absolute;
	left: 85px;
	color: white;
	display: none;
	background-color: #4a535e;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
	padding: 5px;
	margin-top: 7px;
	white-space: nowrap;
}

.nav-elem:hover .nav-elem-text {
	display: block;
}

body {
	position: relative;
	left: 75px;
	height: calc(100vh);
	margin: 0;
	margin-bottom: 100px;
	width: fit-content;
	height: fit-content;
}

#bot-bar {
	position: fixed;
	font-family: "Trebuchet MS", sans-serif;
	color: #4a535e;
	background-color: white;
	box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
	font-size: 70px;
	bottom: 0px;
	width: calc(100% - 95px);
	margin: 0 0;
	left: 75px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	z-index: 1;
}

.flex-parent-h {
	width: calc(100vw - 1vw - 75px);
	margin-left: 1vw;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 10px;
	flex-wrap: wrap;
}

.flex-child2 {
	flex: 2;
	text-align: center;
	height: fit-content;
}

.flex-child3 {
	flex: 3;
	text-align: center;
	height: fit-content;
}

.scroll-div {
	height: calc(98vh - 150px);
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 4px;
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #4e5364;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #8893a1;
}

.flex-head {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 3.5vh;
	text-decoration: underline;
	/* text-decoration-thickness: 3px; */
	margin-bottom: 15px;
	margin-top: 15px;
}

.flex-parent-2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 8px;
}

.flex-parent-2 > * {
	flex-basis: calc(16% - 20px);
}

.item-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	text-transform: capitalize;
	gap: 3px;
	position: relative;
	overflow: hidden;
}

.item-card img {
	width: 50%;
	text-align: left;
	max-height: 200px;
	object-fit: contain;
	border-radius: 5px;
	margin: 0;
	flex-basis: 100%;
}

.item-card-head {
	font-size: 20px;
	font-family: "Trebuchet MS", sans-serif;
	margin: 0;
	margin-bottom: 5px;
	flex-basis: 100%;
}

.item-card p {
	position: absolute;
	top: 9px;
	right: 0;
	font-size: 19px;
	font-weight: 600;
	margin: 0;
	font-family: "Trebuchet MS", sans-serif;
	flex-basis: 100%;
	background-color: #839eff;
	padding: 3px 5px;
	padding-right: 9px;
	box-shadow: 4px 5px 0 #4e5364d1;
}

.item-card button {
	background-color: #4e5364;
	color: #fff;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: xx-small;
	padding: 10px 5px;
	border-radius: 5px;
	font-size: small;
	cursor: pointer;
}

.item-card-details {
	margin-left: auto;
	flex-basis: calc(33% - 3px);
}

.item-card-cart {
	flex-basis: calc(55% - 3px);
	margin-right: auto;
}

.item-card button:hover {
	background-color: #3b3f4d;
}

@media screen and (max-width: 1410px) and (min-width: 800px) {
	.item-card {
		flex-basis: calc(25% - 30px);
	}

	/* .item-card button {
        font-size: xx-small;
    } */
}

@media screen and (max-width: 1100px) {
	.item-card {
		flex-basis: calc(33% - 28px);
	}

	.flex-child2,
	.flex-child3 {
		flex-basis: 100%;
	}

	/* .scroll-div {
		height: calc(75vh - 150px);
	} */

	.item-card button {
		font-size: x-small;
	}

	.item-card-details {
		flex-basis: 100%;
	}

	.item-card-cart {
		flex-basis: 100%;
	}
}

@media screen and (max-width: 800px) {
	.item-card {
		flex-basis: calc(50% - 28px);
	}
}

@media screen and (max-width: 400px) {
	.item-card {
		flex-basis: calc(100% - 28px);
	}
}

@media screen and (max-height: 800px) and (max-width: 800px) and (min-width: 400px) {
	.flex-head {
		font-size: 2.5vw;
	}

	.item-card {
		flex-basis: calc(25% - 28px);
	}
}

.flex-parent-h-1 {
	width: calc(98vw - 75px);
	margin-left: calc(1vw - 7px);
	height: fit-content;
	display: flex;
	flex-direction: row;
	gap: 5px;
	overflow-x: auto;
}

.admin-header {
	font-family: "Trebuchet MS", sans-serif;
	font-size: x-large;
	margin: 0;
	margin-left: 20px;
	margin-bottom: 10px;
}

.admin-div {
	border-radius: 10px;
	/* border: 2px solid black; */
	background-color: #4a535e;
	padding: 4px 20px;
	margin-bottom: 4px;
}

.admin-div-head {
	text-align: center;
	color: white;
	margin: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 2.5vh;
	white-space: nowrap;
	font-weight: 300;
	/* border-bottom: 3px black solid; */
}

.admin-item-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	text-transform: capitalize;
	gap: 3px;
	position: relative;
	width: 250px;
	min-width: 200px;
	max-width: 200px;
	text-align: center;
	overflow: hidden;
}

.admin-item-card img {
	width: 150px;
	text-align: left;
	height: 150px;
	object-fit: contain;
	border-radius: 5px;
	margin: 0;
	flex-basis: 100%;
}

.admin-item-card p {
	position: absolute;
	top: 9px;
	right: 0;
	font-size: 19px;
	font-weight: 600;
	margin: 0;
	font-family: "Trebuchet MS", sans-serif;
	flex-basis: 100%;
	background-color: #839eff;
	padding: 3px 5px;
	padding-right: 9px;
	box-shadow: 4px 5px 0 #4e5364d1;
}

.admin-item-card-button {
	background-color: #4e5364;
	color: #fff;
	border: none;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.admin-item-card-head {
	font-size: 15px;
	font-family: "Trebuchet MS", sans-serif;
	margin: 0;
	margin-bottom: 5px;
	flex-basis: 100%;
}

.admin-header-2 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: x-large;
	margin: 10px 0;
	margin-left: 20px;
}

.admin-item-card-button-left {
	margin-left: auto;
}

.admin-item-card-button-right {
	margin-right: auto;
}

.admin-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.admin-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	min-width: 30%;
	max-width: 80%;
	max-height: 80%;
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.close {
	position: absolute;
	right: 10px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#modal-table {
	width: 90%;
	border-collapse: collapse;
	overflow-x: auto;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#admin-modal-header {
	font-family: "Trebuchet MS", sans-serif;
	font-size: x-large;
}

.item-card-preview {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	text-transform: capitalize;
	gap: 3px;
	position: relative;
	overflow: hidden;
	width: 300px;
	text-align: center;
}

#createForm {
	font-family: "Trebuchet MS", sans-serif;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

#createForm input,
label {
	display: inline-block;
	position: relative;
}

#createForm input {
	margin-top: 4px;
	margin-bottom: 10px;
}

#createForm #createItemButton {
	padding: 10px 40px;
	background-color: white;
	font-family: "Trebuchet MS", sans-serif;
	border: 2px black solid;
	border-radius: 5px;
	margin: 10px;
	width: fit-content;
}

.bundle-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	text-transform: capitalize;
	gap: 3px;
	position: relative;
	min-width: 70vw;
	width: 100%;
	text-align: center;
	justify-content: space-between;
}

.bundle-card img {
	height: 60px;
	text-align: left;
	object-fit: contain;
	border-radius: 5px;
	margin: 0;
}

.bundle-card-head {
	font-family: "Trebuchet MS", sans-serif;
	margin: 0;
	margin-left: 15px;
	font-weight: 400;
	font-size: x-large;
}

.bundle-price {
	font-family: "Trebuchet MS", sans-serif;
	margin-left: auto;
	font-size: large;
}

.crossed-price {
	font-family: "Trebuchet MS", sans-serif;
	margin-left: 10px;
	color: red;
	text-decoration: line-through;
	font-size: small;
	margin-right: 30px;
}

.bundle-images {
	margin-left: auto;
	margin-right: 35px;
	overflow-x: auto;
	display: flex;
}

.bundle-card button {
	background-color: #4e5364;
	color: #fff;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: xx-small;
	border-radius: 5px;
	font-size: medium;
}

.bundle-card-cart {
	margin-right: 20px;
}

.admin-bundle-card {
	min-width: 0px;
	width: 97%;
}

.flex-parent-v-1 {
	/* width: calc(98vw - 75px); */
	/* margin-left: calc(1vw - 7px); */
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow-y: auto;
}

.edit-flex {
	display: flex;
}

.edit-col {
	flex: 1;
	padding: 10px;
	min-width: 25vw;
}

.edit-item {
	padding: 5px;
	margin-bottom: 1px;
	display: flex;
	align-items: center;
	border: 2px solid black;
	border-left: 0px;
	border-right: 0px;
	gap: 8px;
}

.edit-item img {
	height: 40px;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.edit-item p {
	display: inline;
	margin-left: 4px;
}

.edit-item input {
	width: 30px;
	margin-right: 10px;
	text-align: center;
}

.edit-item input::-webkit-outer-spin-button,
.edit-item input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.edit-item label {
	margin-left: auto;
}

#edit-group1,
#edit-group2 {
	overflow-y: auto;
	min-height: 50vh;
	max-height: 50vh;
}

.edit-header {
	font-family: "Trebuchet MS", sans-serif;
}

.bundleImgContainer {
	position: relative;
	display: inline-block;
}

.bundleImgQuantity {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	background-color: #0084ff;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}

.admin-cart-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	text-transform: capitalize;
	gap: 3px;
	position: relative;
	text-align: center;
	justify-content: space-between;
	width: fit-content;
}

.admin-cart-card img {
	height: 45px;
	text-align: left;
	object-fit: contain;
	border-radius: 5px;
	margin: 0;
	margin-right: 10px;
}

.admin-cart-card p {
	white-space: nowrap;
	margin-right: 10px;
	margin-left: 10px;
}

.flex-parent-v-2 {
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-left: calc(1vw - 7px);
	overflow-y: auto;
}

#admin-totalCart {
	margin-left: 25px;
	font-family: "Trebuchet MS", sans-serif;
}

#nav-elem-checkout {
	position: absolute;
	display: none;
	flex-direction: column;
	gap: 5px;
	left: 85px;
	color: white;
	width: 500px;
	background-color: #4a535e;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 7px;
	transform: translateY(calc(-100% + 30px));
}

.cart-card {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20px;
	margin: 3px 5px;
}

#cart-card-items {
	padding: 10px 0;
	max-height: 70vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
	border: 4px solid #343a42;
}

.nav-elem:hover #nav-elem-checkout, #nav-elem-checkout:hover {
	display: flex;
}


.cart-card-img {
	margin-left: 10px;
	width: 75px;
	min-width: none;
}

.cart-card-price, .cart-card-name {
	width: 100%;
	height: fit-content;
	margin: auto 0px;
	min-width: fit-content;
}

.cart-card-price {
	flex-basis: 40%;
	white-space: nowrap;
}

.cart-card-price p {
	margin: 2px;
	white-space: nowrap;
}

.cart-card-button {
	display: inline-block;
	padding: 5px 0;
	width: 40px;
	background-color: #343a42;
}

.cart-card-price div {
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
}

.cart-button {
	width: 100%;
	padding: 20px 0;
	background-color: #343a42;
	color: white;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#cart-card-total {
	font-size: larger;
	margin: 10px;
}

.cart-card-head {
	margin: 10px;
	font-size: xx-large;
}

.cart-card-name {
	font-size: large;
}

#modal-header {
	font-family: "Trebuchet MS", sans-serif;
	font-size: x-large;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	min-width: 50%;
	max-width: 80%;
	max-height: 80%;
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.details-img {
	flex-basis: calc(50% - 40px);
	width: 50%;
	height: inherit;
	display: inline;
}

.details-price {
	display: inline;
}

.flex-parent-h2 {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	gap: 30px;
	flex-wrap: wrap;
}

.details-bundle-item-image {
	height: 30px;
	margin-right: 5px;
	display: inline;
}

.details-bundle-item-name{
	display: inline;
	vertical-align: middle;
	margin: auto 0;
	font-size: 20px;
}

.details-bundle-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 5px;
}

.details-main {
	flex-basis: calc(50% - 40px);
	width: calc(50% - 40px);
}

@media screen and (max-width: 600px) {
	#nav-elem-checkout {
		width: calc(90vw - 20px);
		left: 20px;
		right: 20px;
		bottom: -275px;
		z-index: 3;
		border: 2px solid #343a42
	}

	.modal-content {
		width: 90vw;
	}

	.details-img {
		flex-basis: 100%;
	}

	.details-main {
		flex-basis: 100%;
	}

	.cart-card {
		justify-content: space-between;
		width: 100vw;
	}
}

#cart-close-button {
	position: absolute;
    top: 5px;
    right: 5px;
}

.details-cart {
	display: block;
	margin-top: 10px;
	background-color: #4e5364;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	border: 0px;
}

#authForm {
	display: flex;
	width: calc(100vw - 75px);
	height: calc(100%);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

#authForm button, .admin-submit {
	display: block;
	background-color: #4e5364;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	border: 0px;
}

#admin-modal-content input, #admin-modal-content label, #admin-modal-content textarea {
	margin-bottom: 5px;
	font-family: 'Trebuchet MS', sans-serif;
}